#!/usr/bin/env sh

export NIX_CONFIG="extra-experimental-features = flakes nix-command"

git add --intent-to-add flake.nix flake.lock

strict_env

use flake

npm install

export TIME_KEEPER_MAXIMUM_ITERATION_DURATION=$((3 * 60)) # 3 minutes
