#!/usr/bin/env sh

if ! has nix_direnv_version || ! nix_direnv_version 2.2.1; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.2.1/direnvrc" "sha256-zelF0vLbEl5uaqrfIzbgNzJWGmLzCmYAkInj/LNxvKs="
fi

export NIX_CONFIG="extra-experimental-features = flakes nix-command"

strict_env

source_env_if_exists ../.envrc
export GAMBLE_TEST_COMMAND="sh -c 'set -o xtrace ; elm-format --yes src/ tests/ && yes | elm-review --fix && elm-test-rs'"

use flake
