#!/usr/bin/env sh

if ! has nix_direnv_version || ! nix_direnv_version 2.2.1; then
    source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.2.1/direnvrc" "sha256-zelF0vLbEl5uaqrfIzbgNzJWGmLzCmYAkInj/LNxvKs="
fi

export NIX_CONFIG="extra-experimental-features = flakes nix-command"

git add --intent-to-add flake.nix flake.lock

strict_env

source_env_if_exists ../.envrc
export GAMBLE_TEST_COMMAND="sh -c 'mask format && mask test'"

use flake

# use flake "gitlab:pinage404/git-gamble?rev=06f50aeb39227e0cc901978a14a27bb9a935c958&dir=/packaging/nix/flake/"

eval "$(devbox generate direnv --print-envrc)"

mask install

layout node
