#!/usr/bin/env sh

if has cachix; then
    cachix use pinage404-nix-sandboxes
fi

export NIX_CONFIG="extra-experimental-features = flakes nix-command"

git add --intent-to-add flake.nix flake.lock

strict_env

if ! has direnv_version || ! direnv_version 2.29.0; then
    log_error "Your DirEnv version is too old and may not work ; Please upgrade"
fi

use flake

export DEVBOX_COREPACK_ENABLED="true"

eval "$(devbox generate direnv --print-envrc)"

mask install

layout node

export GAMBLE_TEST_COMMAND="sh -c 'mask format && mask test'"
