#!/usr/bin/env sh

if has cachix; then
    cachix use pinage404-nix-sandboxes
fi

if has git; then
    git add --intent-to-add ./flake.nix ./flake.lock

    export GIT_CONFIG_COUNT=1
    export GIT_CONFIG_KEY_0="core.hooksPath"
    export GIT_CONFIG_VALUE_0="${PWD}/.config/git/hooks"
    export MASKFILE="${PWD}/maskfile.md"

    chmod +x "${GIT_CONFIG_VALUE_0}"/*
fi

strict_env

export NIX_USER_CONF_FILES=".config/nix/nix.conf${NIX_USER_CONF_FILES:+:$NIX_USER_CONF_FILES}"
use flake

eval "$(devbox generate direnv --print-envrc)"

mask install

export GAMBLE_TEST_COMMAND="mask test"

# uncomment this to enable git-time-keeper and uncomment post-gamble or post-commit hook
# export TIME_KEEPER_MAXIMUM_ITERATION_DURATION=$((3 * 60)) # 3 minutes
