-XepAllErrorsAsWarnings
-XepAllDisabledChecksAsWarnings
-XepDisableWarningsInGeneratedCode

-Xep:AddNullMarkedToClass:OFF
# Guava biased
-Xep:ImmutableMemberCollection:OFF
# irrelevant
-Xep:Java8ApiChecker:OFF
# not to be checked at compile time
-Xep:RemoveUnusedImports:OFF
-Xep:SystemOut:OFF
-Xep:UnusedMethod:OFF
-Xep:UnusedNestedClass:OFF
-Xep:UnusedVariable:OFF
-Xep:Var:OFF
